/* The Modal (background) */
:host {
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.32); /* Black w/ opacity */
}
:host([open]) {
  display: -ms-flexbox;
  display: flex;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-color: #fefefe;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  max-height: calc(100vh - 32px);
  min-width: 280px;
}
@media (max-width: 592px) {
  .modal-content {
    max-width: calc(100vw - 32px);
  }
}
@media (min-width: 592px) {
  .modal-content {
    max-width: 560px;
  }
}

section {
  color: rgba(0,0,0,.6);
  overflow: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 8px 24px;
  -webkit-overflow-scrolling: touch;
}
section > :first-child {
  margin-top: 0;
}
section > :last-child {
  margin-bottom: 0;
}